---
layout: default
---

<div class="home">

  <h1 class="page-heading">Últimas publicaciones</h1>
  <hr/>
  
    {% for post in site.posts %}
      <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">
                {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
                {{ post.excerpt }}
            </h3>
        </a>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
      </div>
    {% endfor %}
</div>
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pager">
            {% if paginator.previous_page %}
                <li class="previous"><a href="{{ paginator.previous_page_path }}" class="previous">Anterior</a></li>
            {% else %}
               <li class="previous"><a href="#!"><i class="glyphicon glyphicon-chevron-left"></i> Anterior</a></li>
            {% endif %}
            {% if paginator.next_page %}
                <li class="next"><a href="{{ paginator.next_page_path }}" class="next">Siguiente <i class="glyphicon glyphicon-chevron-right"></i></a><li>
            {% else %}
               <li class="next"><a href="#!">Siguiente <i class="glyphicon glyphicon-chevron-right"></i></a></li>
            {% endif %}
        </ul>
    </nav>
</div>