<!DOCTYPE html>
<html lang="es">

  {% include head-post.html %}

  <body>
    {% include nav.html %}
    {% include header-post.html %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
					<div class="post-content" itemprop="articleBody">
						{{ content }}
					</div>
                    <div class="box-tags">
                        <ul class="tags">
                            {% for tag in page.tags %}
                                <li><a href="#" class="tag">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
				</article>
            </div>
        </div>
    </div>
    <!-- Disqus box -->
    <script id="dsq-count-scr" src="//emilianohg.disqus.com/count.js" async></script>

    {% include disqus.html%}

    <hr>

    {% include footer.html %}

    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/js/clean-blog.js"></script>

    {% include analytics.html %} 

  </body>

</html>
